.Search form {
    padding: 20px 0;
}

.CurrentForecast {
    margin: auto 0px 20px;
}

h1 {
    color: #202124;
    font-size: 30px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 5px;
}

.CurrentForecast img {
    height: 64px;
}

.CurrentForecast strong {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.CurrentForecast .units {
    position: relative;
    font-size: 16px;
    top: -34px;
    color: #878787;
}

.CurrentForecast a {
    text-decoration: none;
    color: #878787;
}

.CurrentForecast a:hover {
    text-decoration: underline;
    color: #0275d8;
}

.CurrentForecast .active {
    font-weight: bold;
    color: #202124;
}

.CurrentForecast ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.CurrentForecast li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #70757a;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

.CurrentForecast li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

body {
    font-family: arial, sans-serif;
    text-align: center;
    color: #202124;
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.DailyWeather {
    text-align: center;
    margin: 40px auto 20px;
}

.DailyWeather .weekDays {
    padding-top: 7px;
}

.DailyWeather .img {
    height: 48px;
}

.DailyWeather .temperature-max {
    color: #202124;
    padding-right: 5px;
}

.DailyWeather .temperature-min {
    color: #70757a;
}